<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>CS2102 FundME</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

		<!-- Custom styles for this template-->
		<link href="stylesheets/index.css" rel="stylesheet">
	  <link rel="icon" href="/images/piggy-bank.png" type="image/x-icon">
  </head>
	<body id="page-top">
		<%- include navbar.ejs %>
		
		<div id="wrapper">
			<%- include sidebar.ejs %>
			
			<div id="content-wrapper">
				<div class="container-fluid">
					
					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-users"></i> &nbsp; All Creators
						</div>
						<div class="card-body d-flex flex-wrap">
							<% for(var i=0; i<tbl.length; i++) { %>
							<div class="card mb-3 ml-2" style="width: 32%">
								<div class="card-body">
									<h5 class="card-title"><i class="fas fa-fw fa-user mr-2"></i><%= tbl[i].cname%></h5>
									<p class="card-text">Projects that user created, can be complex query</p>
									<form action="/add_follower" method="post">
									    <button class="btn btn-primary" type="submit" name="cname" value="<%= tbl[i].cname%>" id="<%= tbl[i].cname%>">Follow</button>
									</form>
								</div>
							</div>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<%- include bottomscript.ejs %>
  </body>
  	<script>
		<% follow_tbl.forEach(function(follow){ %>
		    var follow_btn = document.getElementById("<%= follow.cname %>");
	      	follow_btn.className = follow_btn.className.replace(/\bbtn-primary\b/g, "btn-success");
	      	follow_btn.innerHTML = "Followed";

	      	var form = follow_btn.parentElement;
	      	form.setAttribute('action', "/delete_follower");
	  	<% }) %>
	</script>
</html>
