<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>FundME</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

		<!-- Custom styles for this template-->
		<link href="stylesheets/index.css" rel="stylesheet">
	  <link rel="icon" href="/images/piggy-bank.png" type="image/x-icon">
  </head>
	<body id="page-top">
		<%- include navbar.ejs %>
		
		<div id="wrapper">
			<%- include sidebar.ejs %>

			<div id="content-wrapper">
				<div class="container-fluid">
					<%- include name.ejs %>
                    <div class="card-footer "><span class="badge badge-primary"><%= project_msg %></span></div>
					
					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-file"></i> &nbsp; Fundings List
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Project Name</th>
											<th>Tier Name</th>
											<th>Fund Date</th>
											<th>Amount</th>
											<th>Status</th>
											<th>Action</th>
										</tr>
									</thead>
									<tfoot>
										<!-- <th>Total: <i><%= ctx %></i></th> -->
										<th colspan="5">Total:</th>
										<th><i><%= ctx %></i></th>
									</tfoot>
									<tbody>
										<% for(var i=0; i<tbl.length; i++) { %>
										<tr>
											<td><a href="/projectInfo/<%= tbl[i].pname %>"><%= tbl[i].pname%></a></td>
											<td><%= tbl[i].tname%></td>
											<td><%= moment(tbl[i].f_date).format("DD/MM/YYYY")%></td>
											<td><%= tbl[i].amount%></td>
											
											<% if (tbl[i].status) { %>
												<td><span class="badge badge-success">Funding</span></td>
											<% } else { %>
												<td><span class="badge badge-danger">Withdrawn</span></td>
											<% } %>
											<td>
												<form action="/delete_fund/<%= tbl[i].pname %>" method="post" >
													<button class="btn btn-info">Withdraw Fund</button>

												</form>
											</td>
										</tr>
										<% } %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<%- include bottomscript.ejs %>
  </body>
</html>
