<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>FundME</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

		<!-- Custom styles for this template-->
		<link href="stylesheets/index.css" rel="stylesheet">
	  <link rel="icon" href="/images/piggy-bank.png" type="image/x-icon">
  </head>
	<body id="page-top">
		<%- include navbar.ejs %>
		
		<div id="wrapper">
			<%- include sidebar.ejs %>

			<div id="content-wrapper">
				<div class="container-fluid">
					<%- include name.ejs %>
					
					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-file"></i> &nbsp; Project List
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Project Name</th>
											<th>Category</th>
											<th>Start Date</th>
											<th>End Date</th>
											<th>Goal</th>
										</tr>
									</thead>
									<tfoot>
										<!-- <th>Total: <i><%= ctx %></i></th> -->
										<th colspan="4">Total:</th>
										<th><i><%= ctx %></i></th>
									</tfoot>
									<tbody>
										<% for(var i=0; i<tbl.length; i++) { %>
										<tr>
											<td><a href="/projectInfo/<%= tbl[i].pname %>"><%= tbl[i].pname%></a></td>
											<td><%= tbl[i].tname%></td>
											<td><%= moment(tbl[i].s_date).format("DD/MM/YYYY")%></td>
											<td><%= moment(tbl[i].e_date).format("DD/MM/YYYY")%></td>
											<td><%= tbl[i].f_goal%></td>
										</tr>
										<% } %>
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-footer small text-muted"><span class="badge badge-pill badge-info"><%= project_msg %></span></div>
					</div>
					
					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-plus-square"></i> &nbsp; Add Project
						</div>
						<form method="post" action="/add_project">
							<div class="card-body">
								<div class="form-group row">
									<label for="username" class="col-sm-2 col-form-label"><b>Creator ID:</b></label>
									<div class="col-sm-10">
										<input type="text" required="required" readonly class="form-control-plaintext" id="username" value="<%= username %>" name="username">
									</div>
								</div>
								<div class="form-group row">
									<label for="pname" class="col-sm-2 col-form-label"><b>Project Name:</b></label>
									<div class="col-sm-10">
										<input type="text" required="required" class="form-control" id="pname" placeholder="Project Name" name="pname" value="">
									</div>
								</div>
								<div class="form-group row">
									<label for="tname" class="col-sm-2 col-form-label"><b>Template Name</b></label>
									<div class="col-sm-10">
										<select name="tname" id="tname" class="form-control">
											<option value="">Select Template</option>
											<% for(var i=0; i<templates.length; i++) { %>
											<option value="<%= templates[i].tname %>"><%= templates[i].tname %></option>
											<% } %>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label for="e_date" class="col-sm-2 col-form-label"><b>End Date</b></label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="e_date" name="e_date"  placeholder="Enter End Date">
									</div>
								</div>
								<div class="form-group row">
									<label for="f_goal" class="col-sm-2 col-form-label"><b>Goal</b></label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="f_goal" name="f_goal"  placeholder="Enter Funding Goal">
									</div>
								</div>
								<div class="form-group row">
									<label for="descr" class="col-sm-2 col-form-label"><b>Description</b></label>
									<div class="col-sm-10">
										<textarea class="form-control" id="descr" name="descr" rows="5" placeholder="Enter Description"></textarea>
									</div>
								</div>
								<label for="tiers" class="col-sm-2 col-form-label pl-0"><b>Funding Tiers</b></label>
								<div class="form-group row" name="tiers">
								  <div class="col">
								  	<input type="text" class="form-control tier_name_new mb-2" id="tier_name_0" name="tier_name_0"  value="T0" readonly="readonly">
								    <input type="text" class="form-control tier_name_new mb-2" id="tier_name_1" name="tier_name_1"  placeholder="Enter Tier Name">
								  </div>
								  <div class="col">
								  	<input type="text" class="form-control mb-2" id="tier_value_0" name="tier_value_0"  value="0" readonly="readonly">
								    <input type="text" class="form-control mb-2" id="tier_value_1" name="tier_value_1"  placeholder="Enter Tier Value">
								  </div>
								</div>
							</div>
							<div class="card-footer small text-muted"><button type="submit" class="btn btn-secondary">Add Project</button></div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<%- include bottomscript.ejs %>
  </body>
</html>
<script>
	$('.tier_name_new').on('input', function() {
    let $tier_name = $(this);
    console.log($tier_name);
    let $tier_name_clone = $tier_name.clone()

    let name = $tier_name_clone.attr('name')
    let n = parseInt(name.split('_')[2]) + 1
    name = 'tier_name_' + n
    id = 'tier_name_' +n

    $tier_name_clone.val('')
    $tier_name_clone.attr('name', name)
    $tier_name_clone.attr('id', id)
    $tier_name_clone.appendTo($tier_name.parent())
    $tier_name.removeClass('tier_name_new')
    $tier_name.off('input', arguments.callee)
    $tier_name_clone.on('input', arguments.callee)

    let $tier_value = $('#tier_value_'+(n-1))
    let $tier_value_clone = $tier_value.clone()

    name = 'tier_value_' + n
    id = 'tier_value_' + n

    $tier_value_clone.val('')
    $tier_value_clone.attr('name', name)
    $tier_value_clone.attr('id', id)
    $tier_value_clone.appendTo($tier_value.parent())
  });
</script>
