<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FundME</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/stylesheets/index.css" rel="stylesheet">
    <link rel="icon" href="/images/logo copy.png" type="image/x-icon">
</head>
<body id="page-top">
<%- include navbar.ejs %>

<div id="wrapper">
    <%- include sidebar.ejs %>

    <div id="content-wrapper">
        <div class="container-fluid">
            <%- include name.ejs %>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-clipboard"></i> <%= tbl[0].pname%>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Creator</th>
                                <th>Category</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Goal</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><%= tbl[0].pname%></td>
                                    <td><%= tbl[0].cname%></td>
                                    <td><%= tbl[0].tname%></td>
                                    <td><%= moment(tbl[0].s_date).format("DD/MM/YYYY")%></td>
                                    <td><%= moment(tbl[0].e_date).format("DD/MM/YYYY")%></td>
                                    <td><%= tbl[0].f_goal%></td>
                                </tr>
                            <tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Project Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><%= tbl[0].description%></td>
                            </tr>
                            <tr>
                            </tbody>
                        </table>
                    </div>

                    <div>
                        <form method="post" action="/add_fund/<%= tbl[0].pname %>">
                            <div  class="input-group">
                                <div class="col-md-3"></div>
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" id="funding" class="form-control" placeholder="Amount to Fund" autofocus="autofocus" name="funding">
                                        <span class="input-group-btn">
                                               <button class="btn btn-secondary" type="submit">Fund</button>
                                         </span>
                                    </div>
                                </div>
                            </div>

                        </form>
<!--                        <form method="post" action="/add_fund/<%= tbl[0].pname %>">-->
<!--                            <div  class="input-group">-->
<!--                                <div class="col-md-3"></div>-->
<!--                                <div class="col-md-3"></div>-->
<!--                                <div class="col-md-6">-->
<!--                                    <div class="form-group row">-->
<!--                                        <select name="tier" id="tier" class="form-control">-->
<!--                                            <option value="">Select Tier To Fund</option>-->
<!--                                            <% for(var i=0; i<tiers.length; i++) { %>-->
<!--                                                <option value="<%= tiers[i].tname %>,<%=tiers[i].amount %>"><%= tiers[i].amount %> : <%= tiers[i].tname %> </option>-->
<!--                                            <% } %>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                    <div class="form-group-btn" style="float: right">-->
<!--                                        <button class="btn btn-secondary" type="submit" style="width:200px">Fund</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->

                    </div>
                </div>
            </div>
        </div>



        </div>

</div>

<%- include bottomscript.ejs %>
</body>
</html>
