<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>FundME</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

		<!-- Custom styles for this template-->
		<link href="stylesheets/index.css" rel="stylesheet">
	  <link rel="icon" href="/images/piggy-bank.png" type="image/x-icon">
  </head>
	<body id="page-top">
		<%- include navbar.ejs %>
		
		<div id="wrapper">
			<%- include sidebar.ejs %>

			<div id="content-wrapper">
				<div class="container-fluid">
					<%- include name.ejs %>
					
					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-bars"></i> &nbsp; Project Templates
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Template Name</th>
											<th>Style</th>
											<th>Created By</th>
										</tr>
									</thead>
									<tfoot>
										<!-- <th>Total: <i><%= ctx %></i></th> -->
										<th colspan="2">Total:</th>
										<th><i><%= ctx %></i></th>
									</tfoot>
									<tbody>
										<% for(var i=0; i<tbl.length; i++) { %>
										<tr>
											<td><%= tbl[i].tname%></td>
											<td><%= tbl[i].style%></td>
											<td><%= tbl[i].aname%></td>
										</tr>
										<% } %>
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-footer small text-muted"><span class="badge badge-pill badge-info"><%= template_msg %></span></div>
					</div>
					
					<div class="card mb-3" id="addtemplate">
						<div class="card-header">
							<i class="fas fa-plus-square"></i> &nbsp; Add Project Template
						</div>
						<form method="post" action="/add_template">
							<div class="card-body" >
								<div class="form-group row">
									<label for="username" class="col-sm-2 col-form-label"><b>Creator ID:</b></label>
									<div class="col-sm-10">
										<input type="text" required="required" readonly class="form-control-plaintext" id="username" value="<%= username %>" name="username">
									</div>
								</div>
								<div class="form-group row">
									<label for="tname" class="col-sm-2 col-form-label"><b>Template Name:</b></label>
									<div class="col-sm-10">
										<input type="text" required="required" class="form-control" id="tname" placeholder="Enter Template Name" name="tname" value="">
									</div>
								</div>
								<div class="form-group row">
									<label for="style" class="col-sm-2 col-form-label"><b>Style</b></label>
									<div class="col-sm-10">
										<textarea class="form-control" id="style" name="style" rows="5" placeholder="Enter Style Recommendations for Description"></textarea>
									</div>
								</div>
							</div>
							<div class="card-footer small text-muted"><button type="submit" class="btn btn-secondary">Add Template</button></div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<%- include bottomscript.ejs %>
  </body>
<script>
	var toShow = <%=toShow%>;
	if(toShow == false) {
		$("#addtemplate").hide();
	}

</script>
</html>
